.trainDetails {
    position: fixed;
    top: 80px; 
    left: 20px; 
    width: 270px; 
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    border-radius: 8px;
    overflow-y: auto; 
  }
  
  .trainDetails h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .trainDetails p {
    font-size: 16px;
    margin: 5px 0;
  }
  