.trainInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.trainInfoPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.trainDetails {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.seatMapContainer {
  flex-grow: 1;
}

.seatMapAndBooking {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.trainSeatMap {
  flex: 3;  
  margin-left: 250px;
}

.bookingSection {
  position: fixed;
  top: 80px; 
  right: 20px; 
  width: 250px; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bookTicketsButton {
  background-color: #40826D;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.bookTicketsButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
