.trainInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.trainDetails {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.seatMapAndBooking {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.trainSeatMap {
  flex: 3;
}

.bookingSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.bookTicketsButton {
  padding: 10px 20px;
  background-color: #40826D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.bookTicketsButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
